.buttonBox{
    display: flex;
    justify-content: space-around;
}
.box{
    padding: 10px ;
}
.innerBox{
    background-color: white;
    border-radius: 8px;
    padding: 20px 10px;
}
.text{
    text-align: center;
    font-weight: bold;
}
.imageBox{
    height: 200px;
    width:100%;
    display: grid;
    place-content: center;
    background-color: rgb(114, 143, 182);
}


