.doc {
    min-height: 150vh;
    background-color: rgb(196, 207, 221);
    padding: 20px;
  }
  .addButton{
    background-color: rgb(50, 196, 37);
  }
  .addButton:hover{
    background-color: rgb(36, 151, 26);
    color: white;
  }
  .addButtonBox{
    display: flex;
    justify-content: flex-end;
  }
  .tableHead{
    background-color: rgb(37, 131, 13);
  }
  .tableRowHead{
    margin: 20px 0px;
  }
  .tableRowHead div{
    background-color: rgb(209, 187, 174);
    margin-top: 10px;
  }
  .tabletext{
    color: white;
    margin: 20px 0px;
  }
  